<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h4 {
            text-align: center;
            display: block;
            font-size: 18px;
        }
        pre {
            font-weight: 100;
            display: inline;
        }
    </style>
</head>
<body>
    {% comment %} <form method="get"action="{% url "search"%}">
        <input type="search" name="search" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
        </input>
    </form>
    <br>
    <br> {% endcomment %}
    {% for i in response %}
        <h4><pre>Name:-</pre>{{ i.name }}</h4>
        <h4><pre>Id:-</pre>{{ i.id }}</h4>
        <h4><pre>Url:-</pre>{{ i.url }}</h4>
        <h4><pre>Email:-</pre>{{ i.email }}</h4>
        <h4><pre>Country:-</pre>{{ i.country }}</h4>
        <h4><pre>Problem:-</pre>{{ i.problem }}</h4>
        <br>
        <br>
    {% endfor %}

    {% comment %} <form method="get" action="">
        {{ form }}
        <input type="submit" value="Search">
    </form>

    {% for item in results %}
        {{ item.title }}
        <!-- other fields... -->
    {% endfor %} {% endcomment %}
</body>
</html>
